:root {
    --primary-color: #0b66c2;
}


body {
    font-family: "IBM Plex Sans Condensed", sans-serif;
}

.img_logo {
    display: flex;
    justify-content: center;
}

.img_logo img {
    width: 100px;
    margin-top: 22px;
    /* margin-bottom: 10px; */
}

.logo_v2 {
    width: 117px;
    padding: 15px;
}

.wel-come {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 5px;
}

.siva {
    color: var(--primary-color);


}



.dis {
    font-size: 18px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 24px;
}

.img_v1 {
    height: 351px;
    width: 339px;
    border-radius: 100%;
    object-fit: cover;
    position: relative;
}

.blueColor {
    color: var(--primary-color);
}


.nxt-container {
    background-color: #009ad61a;
    border: 1px solid #0b66c2;
    border-radius: 12px;
    padding: 20px;
    font-size: 14px;
    margin-top: 23px;
    width: 100%;
    text-align: center;
}

.time-cv1 {
    /* line-height: 0; */
    line-height: 0;
    padding-top: 13px;

    padding-left: 14px;
    font-size: 15px;
}

.book_btn {
    /* width: 100%; */
    border: none;
    background: rgb(2, 59, 117);
    background: linear-gradient(90deg, rgba(2, 59, 117, 1) 38%, rgba(2, 59, 117, 0.8323704481792717) 74%, rgba(2, 59, 117, 0.7483368347338936) 97%);
    /* padding: 5px; */
    /* height: 50px; */
    color: white;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    /* display: flex; */
    padding: 5px 19px 5px 19px;
    margin-top: 14px;
}

.btn_img {
    width: 74px;
    height: 45px;
}

.bottom_content {
    position: fixed;
    bottom: 0px;




    z-index: 999;
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    background-color: #e5f5fbb3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: block;

    inset: auto 0% 0%;

}

.bottpnm_v {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_p {
    font-size: 16px;
    font-weight: 600;
    line-height: 0;
    padding: 14px 5px 0px 19px;
}

.botm_btn {
    font-size: 17px;
    background: linear-gradient(139deg, rgba(2, 59, 117, 1) 38%, rgb(0 0 0 / 83%) 74%, rgb(0 0 0 / 75%) 97%);
    padding: 8px 5px 8px 20px;
    color: white;
    border-radius: 39px;
    /* border-top-left-radius: 29px; */
    /* border-bottom-left-radius: 4px; */
    font-weight: 400;
    cursor: pointer;
    padding: 16px 27px 16px 27px;
    margin-right: 18px;
}

.biggest {
    text-align: center;
    margin-top: 30px;
    font-size: 27px;
}

.card-slider {
    position: relative;
    width: 300px;
    /* Width of a single card */
    /* overflow: hidden; */
    /* Hide overflow for sliding effect */
    margin-top: 44px;
}

.card-container {
    display: flex;
    transition: transform 0.5s ease;
    /* Smooth transition */
}

.kayaking_card {
    position: relative;
    min-width: 300px;
    /* Ensure all cards have the same width */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    margin-right: 15px;
    /* Space between cards */
}

.kayaking_card img {
    width: 36%;
    position: absolute;
    border-radius: 13px 13px 0 0;
    /* border-radius: 13px 13px 0 0; */
    /* Rounded top corners */
    left: 217px;
    top: -59px;

}

.kayaking_card .k {
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
}

.details_p_v1 {
    background-image: linear-gradient(98deg, #0b66c2, #009ad6);
    color: white;
    padding: 10px;
    border-radius: 0 0 13px 13px;
    /* Rounded bottom corners */
}

.btn_v4 {
    margin-top: 25px;
    border-radius: 50px;
    font-size: 13px;
    height: 45px;
    width: 47px;
    margin: 10px;
    color: white;
    background-image: linear-gradient(99deg, #012d64, #06b0ff);
    border: none;
    padding: 13px;
}




.profile_details {
    left: 0px;
    position: absolute;
    width: 95%;
    /* height: 100px; */
    background: #ffffff;
    color: #000000;
    text-align: center;
    right: 0px;
    bottom: 0;
    border-radius: 10px;
    padding: 10px 1px 0px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    perspective: 1000px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.name_admin {
    color: var(--primary-color);
    font-size: 17px;
    line-height: 0;
    font-weight: 600;
}